<div class="contact-list main-area">
    <h3> My Contacts</h3>
    <span class="message">{{message}}</span>
    <table>
        <tr>
            <th/>
            <th>Name</th>
            <th>Mobile</th>
            <th>Group</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td><a href="/contacts/show/?contact={{contact.pk}}"><img class="contact-image-list" src="{% if contact.image %}{{contact.image.url}}{% else %}https://www.msu.edu/~fsclub/images/default_profile.jpg{% endif %}"></a></td>
            <td><a href="/contacts/show/?contact={{contact.pk}}">{{contact.last_name.title}}, {{contact.first_name.title}} </a></td>
            <td>{{contact.mobile_phone}}</td>
            <td>{{contact.group.name}}</td>
            <td>[<a href="/contacts/edit/?contact={{contact.pk}}">Edit</a>]
                [<a href="/contacts/delete/?contact={{contact.pk}}" onclick="return confirm('Are you sure you want to delete this contact?');">Delete</a>]
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/contacts/create/">Create New Contact</a>
</div>